.idea/
.ipynb_checkpoints/
.virtualenv/
venv/
bin/
*.pyc
*.egg-info
*.tgz
examples/data/*
examples/notebooks/data/*
development_playgrounds/data/*
development_playgrounds/WVGD_experiments
brancher.egg-info/
brancher.build/
brancher.dist/
